<div class="table-container">
  <h2 class="titulo-tabla">Lista de Categorias</h2>

  <!-- Botón para crear un producto -->
  <button mat-icon-button color="primary" routerLink="/categorias/crear">
    <mat-icon>add_box</mat-icon>
  </button>

  <!-- Tabla de productos -->
  <table class="item-table">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias">
        <td>{{ categoria.codigo }}</td>
        <td>{{ categoria.nombre }}</td>
        <td>{{ categoria.descripcion }}</td>
        <td class="acciones">
          <!-- Botón de editar -->
          <button mat-icon-button color="accent" (click)="editarCategoria(categoria)">
            <mat-icon>edit</mat-icon>
          </button>
          <!-- Botón de eliminar -->
          <button mat-icon-button color="warn" (click)="eliminarCategoria(categoria.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Formulario de edición -->
  <div *ngIf="categoriaEditado.id" class="formulario-edicion">
    <h3 class="titulo-edicion">Editar Producto</h3>
    <form (ngSubmit)="guardarEdicion()" class="formulario">
      <div class="form-group">
        <label for="codigo">Código</label>
        <input [(ngModel)]="categoriaEditado.codigo" name="codigo" id="codigo" required />
      </div>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input [(ngModel)]="categoriaEditado.nombre" name="nombre" id="nombre" required />
      </div>
      <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <input [(ngModel)]="categoriaEditado.descripcion" name="descripcion" id="descripcion" required />
      </div>
     
      <div class="btn-container">
        <button type="submit" mat-icon-button color="primary" class="btn-guardar">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
