<div class="table-container">
    <h2 class="titulo-tabla">Lista de Categorias</h2>
    <table class="item-table">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="ID">43434</td>
          <td data-label="Nombre">dos</td>
          <td data-label="Descripcion">Ejemplo de producto</td>
          <td>
            <button class="btn-eliminar">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  